@font-face{
    font-family: 'Fira';
    src: url('FiraSans-Regular.ttf')
}

* {
    margin: 0
}

:root{
    --main-bg: #AEF78E;
    --secondary-bg: #66A182;
    --main-text: #2E4057;
    --secondary-text: rgba(50, 55, 61, 0.5);
    --additional-text: rgba(46, 64, 87, 0.8);
    --input-bg: #DBFFDE;
    --form-btn-bg: #3423A6;
    --checkbox-bg: #A6C3E6;
    --checkbox-done: #24E451;
    --background-text: rgba(50, 55, 61, 0.2);
    --new-btn-bg: rgba(219, 255, 222, 0.8);
}

body {
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Fira', sans-serif;
    background-color: var(--main-bg)
}

.grid {
    display: grid;
    grid-template-columns: 1fr
}

.grid header {
    height: 50px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    justify-items: center;
    background-color: var(--secondary-bg);
    color: var(--main-text);
    font-size: 25px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}
.grid header svg{
    padding: 0 20px 0 0;
    cursor: pointer
}
.grid .create {
    height: 40px;
    background-color: var(--new-btn-bg);
    color: var(--additional-text);
    font-size: 20px;
    opacity: 0.7;
    transition: color 1s;
}
.grid .create:hover {
    color: var(--form-btn-bg);
    transition: color 1s;
}
.grid .list, .grid .create {
    display: grid;
    grid-template-columns: 70px 1fr;
    align-items: center;
    cursor: pointer;
}
.grid .list svg, .grid .create svg{
    justify-self: center
}
.grid .list {
    height: 50px;
    color: var(--main-text);
    font-size: 32px;
    transition: background-color 0.5s;
}
.grid .list:first-child{
    border-radius: 5px 5px 0 0;
    box-shadow: 0 -3px 15px rgba(0, 0, 0, 0.5);
}
.grid .list:nth-child(odd) {
    background-color: var(--secondary-bg)
}
.grid .list:nth-child(even) {
    background-color: var(--input-bg)
}
.grid .list:hover {
    transition: background-color 0.5s;
    background-color: var(--checkbox-bg)
}
.grid .list:last-child{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
    border-radius: 0 0 5px 5px;
}