@font-face{
    font-family: 'Fira';
    src: url('../fonts/FiraSans-Regular.ttf')
}
* {
    margin: 0
}
:root{
    --main-bg: #AEF78E;
    --secondary-bg: #66A182;
    --main-text: #2E4057;
    --secondary-text: rgba(50, 55, 61, 0.5);
    --additional-text: rgba(46, 64, 87, 0.8);
    --input-bg: #DBFFDE;
    --form-btn-bg: #3423A6;
    --checkbox-bg: #A6C3E6;
    --checkbox-done: #24E451;
    --background-text: rgba(50, 55, 61, 0.2);
    --new-btn-bg: rgba(219, 255, 222, 0.8);
}
body {
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Fira', sans-serif;
    background-image: url('../images/background.svg');
    background-size: cover;
    -webkit-user-select: none;
}
.grid {
    display: grid;
    grid-template-columns: 1fr;
}
.titlebar{
    height: 25px;
    font-size: 8px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    background-color: var(--secondary-bg);
    z-index: 2;
}
.titlebar h1{
    margin: 0;
    -webkit-app-region: drag;
    padding-left: 10px;
    color: var(--form-btn-bg)
}
.titlebar .actions{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titlebar .actions i{
    padding: 5px 8px;
    cursor: pointer;
}
.titlebar .actions i:first-child:hover{
    background: whitesmoke
}
.titlebar .actions i:last-child:hover{
    background: red
}