@font-face{
    font-family: 'Fira';
    src: url('../fonts/FiraSans-Regular.ttf')
}

* {
    margin: 0
}

:root{
    --main-bg: #AEF78E;
    --secondary-bg: #66A182;
    --main-text: #2E4057;
    --secondary-text: rgba(50, 55, 61, 0.5);
    --additional-text: rgba(46, 64, 87, 0.8);
    --input-bg: #DBFFDE;
    --form-btn-bg: #3423A6;
    --checkbox-bg: #A6C3E6;
    --checkbox-done: #24E451;
    --background-text: rgba(50, 55, 61, 0.2);
    --new-btn-bg: rgba(219, 255, 222, 0.8);
}

body {
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'Fira', sans-serif;
    background-image: url('../images/background.svg');
    background-size: cover;
    -webkit-user-select: none;
}

.grid {
    display: grid;
    grid-template-columns: 1fr;
}

.titlebar{
    height: 25px;
    font-size: 8px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr auto;
    background-color: var(--secondary-bg);
    z-index: 2;
}
.titlebar h1{
    margin: 0;
    -webkit-app-region: drag;
    padding-left: 10px;
    color: var(--form-btn-bg)
}
.titlebar .actions{
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titlebar .actions i{
    padding: 5px 8px;
    cursor: pointer;
}
.titlebar .actions i:first-child:hover{
    background: whitesmoke
}
.titlebar .actions i:last-child:hover{
    background: red
}

.greetings {
    justify-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 70vw;
    justify-content: flex-end;
    background-image: url('../images/greetings.svg');
    background-size: cover;
    border-radius: 50%;
    margin-top: -40%;
    z-index: 1;
    box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.5);
    color: var(--main-text);
}
.greetings h3{
    padding: 15px 0 60px 0
}

.list{
    padding-top: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.list label{
    width: 80%;
    background-color: var(--main-bg);
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: var(--main-text);
    font-size: 14px;
}
.list .checkbox{
    width: 20px;
    height: 20px;
    background-color: var(--input-bg);
    box-sizing: border-box;
    border: 2px solid var(--input-bg);
    cursor: pointer;
    box-shadow: 0 0 0 2px #70707088;
    margin-right: 10px;
}
.list .checkbox.checked{
    background-color: var(--secondary-bg)
}
.list .checkbox.checked+a{
    text-decoration: line-through
}

.list a{
    color: var(--main-text);
    text-decoration: none
}