@import 'global.css';

.first-time{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-bg);
    color: var(--form-btn-bg);
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    top: 0;
    left: 0;
}
.first-time h1, .first-time h2, .first-time h3{
    padding: 7px 0
}
.first-time input {
    background-color: var(--input-bg);
    color: var(--additional-text);
    font-size: 18px;
    padding: 5px;
    border: 0;
    border-radius: 5px;
    border: 2px solid var(--input-bg);
}
.first-time input:focus {
    outline: 0;
    border: 2px solid black;
}
.first-time button {
    cursor: pointer;
    background-color: var(--form-btn-bg);
    color: var(--input-bg);
    font-size: 16px;
    padding: 10px;
    margin-top: 10px;
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
    transition: box-shadow 1s;
}
.first-time button:hover{
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    transition: box-shadow 1s;
}

.add{
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: var(--main-bg);
    color: var(--form-btn-bg);
    bottom: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    border-radius: 50%;
    box-shadow: 1px 1px 6px black;
    cursor: pointer;
}

.greetings {
    justify-self: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    width: 70vw;
    height: 70vw;
    justify-content: flex-end;
    background-image: url('../images/greetings.svg');
    background-size: cover;
    border-radius: 50%;
    margin-top: -40%;
    z-index: 1;
    box-shadow: 0 0 15px 2px rgba(255, 255, 255, 0.5);
    color: var(--main-text);
}
.greetings h3{
    padding: 15px 0 60px 0
}

.list{
    padding-top: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}
.list .item{
    width: 80%;
    background-color: var(--main-bg);
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    color: var(--main-text);
    font-size: 14px;
    margin: 5px 0;
}
.list .checkbox{
    width: 20px;
    height: 20px;
    background-color: var(--input-bg);
    box-sizing: border-box;
    border: 2px solid var(--input-bg);
    cursor: pointer;
    box-shadow: 0 0 0 2px #70707088;
    margin-right: 10px;
}
.list .checkbox.checked{
    background-color: var(--secondary-bg)
}
.list .checkbox.checked+a{
    text-decoration: line-through
}

.list a{
    color: var(--main-text);
    text-decoration: none
}